{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        {{data.company}}
      </span>
      <span class="govuk-caption-m govuk-!-padding-bottom-7">
        Reporting year {{data.reportingPeriod}}
      </span>

      <form  action="/check-answers" method="post">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Supporting documents (optional)
            </h1>
          </legend>
          <p class="govuk-body">
            Include any additional documentation for the selected commodities to support your exemption request
          </p>

          {% for commodity in data['selectedCommodities'] %}

            <div class="govuk-!-padding-top-4">

              <h2 class="govuk-heading-l">
                {{commodity.text}}
              </h2>

              {{ govukFileUpload({
                  name: commodity.id+"_supporting_document",
                  label: {
                    text: "Upload a file"
                  } }) 
              }}

              {{ govukTable({
                head: [
                  {
                    text: "Document type"
                  },
                  {
                    text: "Action"
                  }
                ],
                rows: [
                  [
                    {
                      text: data[commodity.id+"_supporting_document"] if data[commodity.id+"_supporting_document"] else "Supporting document.pdf"
                    },
                    {
                      html: '<a class="govuk-link" href="#">Remove</a>'
                    }
                  ]
                ]}) 
              }}
            </div>
          {% endfor %}
        </fieldset>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a href="/dashboard" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-left-5"  data-module="govuk-button">
              Save and come back later
          </a>
      </form>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Get help with this page</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Related Content
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">
                    Forest Risk Commodities guidance
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}