{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        {{data.company}}
      </span>
      <span class="govuk-caption-m govuk-!-padding-bottom-7">
        Reporting year {{data.reportingPeriod}}
      </span>

      <form class="form" action="/commodityvolume" method="post">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your expected usage of these commodities for the selected reporting year?
            </h1>
          </legend>
          <div class="govuk-hint">
            Usage must be under 1000 tonnes for each commodity to be exempt
          </div>

          {% for commodity in data['selectedCommodities'] %}
            {{ govukInput({
                label: {
                  text:commodity.text
                },
                classes: "govuk-input--width-5",         
                name: commodity.id,
                value:data[commodity.id] if data[commodity.id] else "",
                suffix: {
                  text: "tonnes"
                },
                errorMessage: {
                  text: commodity.errorMessage
                } if commodity.errorMessage else undefined,
                spellcheck: false
          }) }}
          {% endfor %}
        </fieldset>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a href="/dashboard" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-left-5"  data-module="govuk-button">
              Save and come back later
          </a>
      </form>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Get help with this page</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Related Content
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">
                    Forest Risk Commodities guidance
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}