{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Dashboard</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Report your forest risk commodity due diligence</h1>

      <form action="/UserServices" method="post" novalidate>
        {{ govukSelect({
        id: "company",
        name: "company",
        value: data.company,
        label: {
          text: "Select a company to view details"
        },
        items: data.companyList
      }) }}

        <h2 class="govuk-heading-m">For {{data.company}}</h2>

        <button type="submit" class="govuk-button" data-module="govuk-button">New Submission</button>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Related Content
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">
                    Forest Risk Commodities guidance
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-m">Submissions</span>
      <h1 class="govuk-heading-l">In Progress</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div  class="govuk-summary-list__row">
          <dd class="govuk-summary-list__key">
            Submission period 
          </dd>
          <dd class="govuk-summary-list__key">
            Type            
          </dd>
          <dd class="govuk-summary-list__key">
            Commodities            
          </dd>
          <dd class="govuk-summary-list__key">
           Status            
         </dd>
          <dd class="govuk-summary-list__key">
           Action            
          </dd>
        </div>
        {% if (data['complete'] == "No") %}
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key">
              {{ data['ExemptionPeriod'] }}
            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['Userservice']}}
            </dd>
            <dd class="govuk-summary-list__value">
              {{data['FRC'].join('<br/>') | safe if data['FRC'] else "" }}
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--blue">
          In Progress
           </strong>
            </dd>
            <dd  class="govuk-summary-list__value">
              <a href="javascript:javascript:history.go(-1)">
              Edit              
            </a>
            </dd>
          </div>
          {%endif%}
        </dl>

        <span class="govuk-caption-m">Submissions</span>
        <h1 class="govuk-heading-l">Completed</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                 Submission period 
               </dt>
            <dd class="govuk-summary-list__key">
                 Type            
               </dd>
            <dd class="govuk-summary-list__key">
                 Commodities            
               </dd>
            <dd class="govuk-summary-list__key">
                Status            
              </dd>
            <dd class="govuk-summary-list__key">
                Action            
               </dd>
          </div>

          {% if (data['amendcomplete'] == "Yes") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ data['ExemptionPeriod'] }}
              </dt>
              <dd class="govuk-summary-list__value">
                Amendment
               </dd>
              <dd class="govuk-summary-list__value">
                {{data['amendedCommodity'].join('<br/>') | safe if data['amendedCommodity'] else ""}}
              </dd>
              <dd class="govuk-summary-list__value">
                <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">
                  <strong>Submitted</strong>
                  <br/>{{ data['currentdate']}}
                </span>
              </dd>
              <dd class="govuk-summary-list__value">
                <a href="/CheckAnswersAmended" class="govuk-link govuk-!-margin-right-4">
                  View              
                </a>
              </dd>
            </div>
            {%endif%}

            {% if (data['complete'] == "Yes") %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['ExemptionPeriod'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['Userservice']}}
                </dd>
                <dd class="govuk-summary-list__value">
                  {{data['FRC'].join('<br/>') | safe if data['FRC'] else ""}}
                </dd>
                <dd class="govuk-summary-list__value">
                  <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">
                    <strong>Submitted</strong>
                    <br/>{{ data['currentdate']}}
                  </span>
                </dd>
                <dd class="govuk-summary-list__value">
                  <a href="/CheckAnswers" class="govuk-link govuk-!-margin-right-4">
                  View              
                </a>
                  {% if (data['amendcomplete'] !== "Yes") %}
                    <a href="/amendCommodities" class="govuk-link">
                 Amend              
               </a>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                Apr 2021 to Mar 2022
              </dt>
                  <dd class="govuk-summary-list__value">
                Report
              </dd>
                  <dd class="govuk-summary-list__value">
                Cocoa
               </dd>
                  <dd class="govuk-summary-list__value">
                    <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">
                      <strong>Submitted</strong>
                      <br/>
                  02/04/2022
                 </span>
                  </dd>
                  <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-!-margin-right-4">
                 View              
               </a>
                    <a href="#" class="govuk-link">
                Amend              
              </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                Oct 2021 to Mar 2022
              </dt>
                  <dd class="govuk-summary-list__value">
                Amendment 
              </dd>
                  <dd class="govuk-summary-list__value">
                Cocoa
               </dd>
                  <dd class="govuk-summary-list__value">
                    <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">
                      <strong>Submitted</strong>
                      <br/>
                  02/08/2021
                 </span>
                  </dd>
                  <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-!-margin-right-4">
                 View              
               </a>
                    <a href="#" class="govuk-link">
                Amend              
              </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                Apr 2021 to Mar 2022
              </dt>
                  <dd class="govuk-summary-list__value">
                Exemption
              </dd>
                  <dd class="govuk-summary-list__value">
                Cocoa<br/>Palm oil
               </dd>
                  <dd class="govuk-summary-list__value">
                    <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">
                      <strong>Submitted</strong>
                      <br/>
                  12/12/2020
                  </span>
                  </dd>
                  <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-!-margin-right-4">
                 View              
               </a>
                    <a href="#" class="govuk-link">
                Amend              
              </a>
                  </dd>
                </div>
              </dl>

              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Get help with this page</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}