{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl govuk-!-padding-bottom-7">
        {{data.company}}
      </span>

      <form class="form" action="/parent-company" method="post">
        {{ govukRadios({
                id: "ParentCompany",
                name: "ParentCompany",           
                value: data['ParentCompany'],
                fieldset: {
                  legend: {
                    text: "Is your business owned or managed by a parent company?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text: "For example, your business is owned by a larger holding company."
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}
        {{ govukInsetText({
                text: "If you answered Yes, you will need to provide annual turnover details for your parent company."
              }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a href="/dashboard" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-left-5"  data-module="govuk-button">
            Save and come back later
        </a>
      </form>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Get help with this page</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Related Content
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">
                    Forest Risk Commodities guidance
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
{% endblock %}