{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl govuk-!-padding-bottom-7">
        {{data.company}}
      </span>

      <form class="form" action="/ParentCompanyAnnualIncome" method="post">
        {{ govukSelect({
        name: "parentCompany",
        value: data.parentCompany,
        fieldset: {
          legend: {
            text: "Provide your parent company details",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        label: {
          text: "Select your parent company"
        },
        items: data.companyList
      }) }}

        <p>or</p>

        {{ govukInput({
            label: {
              text: "Provide your company name"
            },
            hint: {
              text: "Only add your parent company name if it is not in the above list"
            },
            value: data['parentCompanyCustom'],
            classes: "govuk-!-width-two-thirds",
            name: "parentCompanyCustom",
            spellcheck: false
          }) }}

        {{ govukInput({
            id: "ParentCompanyAnnualIncome",
            name: "ParentCompanyAnnualIncome",
            value: data['ParentCompanyAnnualIncome'],
            label: {
              text: "What is your parent company’s annual turnover?"
              
            },
            prefix: {
              text: "£"
            },
            classes: "govuk-!-width-one-third",
            spellcheck: false
          }) }}
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a href="/dashboard" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-left-5"  data-module="govuk-button">
            Save and come back later
        </a>
      </form>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Get help with this page</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Related Content
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">
                    Forest Risk Commodities guidance
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
{% endblock %}