{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl govuk-!-padding-bottom-7">
        {{data.company}}
      </span>

      <form class="form" action="/Userjourney" method="post">
          {{ govukRadios({
              name: "Userservice",
              value: data.Userservice,
              fieldset: {
                legend: {
                  text: "What do you want to do?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "If you do not expect to meet the thresholds outlined in the guidance, you may be eligible for exemption from reporting for upcoming reporting periods."
              },
              items: [
                {
                  value: "Exemption",
                  text: "File a new exemption"
                },
                {
                  value: "Re-Exemption",
                  text: "File a new due diligence report"
                }
              ]
              }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a href="/Dashboard" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-left-5"  data-module="govuk-button">
            Save and come back later
        </a>
      </form>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Get help with this page</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Related Content
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">
                    Forest Risk Commodities guidance
                </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}